@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.home {
    font-family: 'Caveat', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    span{
        position: fixed;
        left: 1px;
        right: 0px;
        bottom: -10px;
        width: 100%;
        canvas {
            width: 100%;
            height: 100%;
            position: fixed;
        }
    }
    
}

